@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Mirza:wght@400;500;600;700&family=Work+Sans:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: white;
  font-family: 'Fira Mono', monospace;
  background: #2b2b2b;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3% 10% 3% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.705))), url("/img/hero.jpg") center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.705)), url("/img/hero.jpg") center;
}

.hero .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 20px;
  min-width: 50%;
  font-size: 35px;
  color: black;
  background: white;
}

.hero .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
  background: black;
  width: 30%;
  padding: 10px;
}

.hero .contact:hover {
  background: orange;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#correct {
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  background: lightgreen;
  font-size: 16px;
  color: #059244;
  width: 30%;
  margin: auto;
}

.formDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100px;
  margin: 50px auto;
  background: #242424;
  border-radius: 5px;
  padding: 50px;
  width: 30%;
}

.formDiv #load {
  margin: 50px auto 0 auto;
  height: auto;
  width: 100px;
}

input[type='text'] {
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  border: solid 1px black;
  outline: none;
  padding: 10px;
}

label {
  margin: 20px auto;
  display: block;
}

p {
  padding: 0px;
  margin: 0px;
}

.error {
  color: salmon;
  display: none;
}

button {
  font-family: 'Fira Mono';
  margin-top: 30px;
  background-color: orange;
  width: 100%;
  padding: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}
