@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Mirza:wght@400;500;600;700&family=Work+Sans:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Fira Mono', monospace;
    background: #2b2b2b;
}

::-webkit-scrollbar {
    display: none;
  }

  #load {
      margin: auto;
  }

/* —————————————————————————————————————————————————————————————————————————— */
/*                                 HERO BANNER                                */
/* —————————————————————————————————————————————————————————————————————————— */

.hero {
    display: flex;
    flex-direction: column;
    padding: 3% 10% 3% 10%;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.705)), url('/img/hero.jpg') center ;

    .title {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 20px;
        min-width: 50%;
        font-size: 35px;
        color: black;
        background: white;
    }

    .contact {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: white;
        background: black;
        width: 30%;
        padding: 10px;

        &:hover {
            background: orange;
        }
    }

}


/* ——————————————————————————— END OF HERO BANNER ——————————————————————————— */


main {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 50px auto;

    .cards {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;

        background: rgb(36, 36, 36);
        border-radius: 5px;

        .cardContent {
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                font-size: 26px;
                color: black;
                background: white;
                border-radius: 5px 5px 0 0 ;
                padding: 15px;
            }

            section {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                font-size: 14px;
                padding: 10px 20px;

                p:nth-child(odd) { 
                    font-weight: bold;
                }

            }

            section:nth-child(even) {
                background: rgb(88, 88, 88);
            }

            section:nth-child(odd) {
                background: rgb(75, 75, 75);
            }

            a {
                color: white;
                text-align: center;
                font-size: 16px;
                text-decoration: none;
                padding: 20px;
                background: orange;
                border-radius: 0 0 5px 5px;

                &:hover {
                    background: rgb(177, 118, 8);
                }
            }
        }
    }

    .hide {
        display: none;
    }
    
    .show {
        display: block;
    }
    
    
}